---
import '../styles/modal.scss'

var sTitle = 'Transit Tracker'
var { title, classItems, headItems } = Astro.props

var docTitle = ''
if (
    title === 'Home' || title === '' || 
    !!title === false || title === null
) {
    docTitle = sTitle
}
else {
    docTitle = `${title} | ${sTitle}`
}

if (!!classItems === false || classItems === null) {
    classItems = []
}
if (classItems.length < 0) {
    classItems = []
}

var classStr = ''
classItems.forEach(function(c, i) {
    if (i !== 0) classStr += ' '
    classStr += c
})

---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width;initial-scale=1.0">
    <title>{docTitle}</title>
    <link rel="icon" href="/assets/favicon.png" />
    <div set:html={headItems}></div>
  </head>
  <body class={classStr}>
    <slot />
  </body>
</html>