---
import '../styles/modal.scss'
import '../styles/page.scss'

var sTitle = 'TransTrack'
var { title, classItems, headItems } = Astro.props

var docTitle = ''
if (
  title === 'Home' || title === '' || 
  !!title === false || title === null
) {
  docTitle = sTitle
}
else {
  docTitle = `${title} | ${sTitle}`
}

if (!!classItems === false || classItems === null) {
  classItems = []
}
if (classItems.length < 0) {
  classItems = []
}
classItems.unshift('page')
classItems.unshift('main')

var classStr = ''
classItems.forEach(function(c, i) {
  if (i !== 0) classStr += ' '
  classStr += c
})

var navHTML = `<a class="link" href="/tracker">
  <img class="icon" src="/icons/map.svg">
</a>
<a class="link" href="/directions">
  <img class="icon" src="/icons/location.svg">
</a>
<a class="link" href="/book">
  <img class="icon" src="/icons/book-online.svg">
</a>
<a class="link" href="/notifications">
  <img class="icon" src="/icons/notification.svg">
</a>
<a class="link" href="/more">
  <img class="icon" src="/icons/more-horiz.svg">
</a>
<a class="link" href="/settings">
  <img class="icon" src="/icons/settings.svg">
</a>`

var d = new Date()
var year = d.getFullYear()
var startingYear = 2024
if (year == startingYear) year = ''
else year = `-${year}`
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{docTitle}</title>
    <link rel="icon" href="/assets/favicon.png" />
    { !!headItems ? '' : <div set:html={headItems}></div> }
  </head>
  <body sTitle={sTitle}>
    <div class="app">
      <header class="header">
        <span class="title">{title}</span>
        <nav class="nav" hidden set:html={navHTML}></nav>
      </header>
      <main id="content" class={classStr}>
        <slot />
      </main>
      <footer class="footer" site-title={sTitle} current-year={year}>
        <nav class="nav mobile" hidden set:html={navHTML}></nav>
      </footer>
    </div>
    <dialog class="modal">
      <content>
        <h1 class="title"></h1>
        <section class="message"></section>
        <button class="btn">OK</button>
      </content>
    </dialog>
    <script src="/scripts/index.js" is:inline></script>
    <script src="/scripts/page.js" is:inline></script>
    <script src="/scripts/modal.js" is:inline></script>
    <script src="/scripts/511Request.js" is:inline></script>
    <script src="/scripts/notificationManager.js" is:inline></script>
    <script src="/scripts/select.js" is:inline></script>
    <script src="/scripts/eruda.js" is:inline></script>
  </body>
</html>