---
import '../styles/globals.scss'
import '../styles/modal.scss'
import ModalScript from '../scripts/modal.astro'
import SelectScript from '../scripts/select.astro'
import type CookiesScript from '../scripts/cookies.astro'

type ScriptFactory = typeof CookiesScript

var mainScriptNames = ['cookies', 'index', 'authentication', '511-request', 'notification-manager', 'settings']
var mainScripts = await Promise.all(
    mainScriptNames.map(async n => ((await import(`../scripts/${n}.astro`)) as { default: ScriptFactory }).default)
)

interface Props {
    title?: string
    classItems?: string[]
    headItems?: []
}

var sTitle = 'ViaBay'

var { title, classItems: classItemsProp, headItems: headItemsProp } = Astro.props as Props

var docTitle = ''
if (
    title === 'Home' || title === '' ||
    !title
) {
    docTitle = sTitle
}
else {
    docTitle = `${title} | ${sTitle}`
}

let classItemsArray = classItemsProp || []
if (classItemsArray.length < 0) {
    classItemsArray = []
}
classItemsArray.unshift('page')
classItemsArray.unshift('main')

const classItems = classItemsArray.join(' ')

let headItemsArray = headItemsProp || []
if (headItemsArray.length < 0) {
    headItemsArray = []
}

const headItems = headItemsArray.join('')

var d = new Date()
var year = d.getFullYear()
var startingYear = 2024
var yearStr = year == startingYear ? '' : `-${year}`
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{docTitle}</title>
        <link rel="icon" href="/assets/favicon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css">
        { (!!headItems && headItems.length > 0) ? <div set:html={headItems}></div> : '' }
        {
            mainScripts.map((Module) => {
                return <Module />
            })
        }
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" is:inline></script>
        <script src="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.js" is:inline></script>
    </head>
    { /* @ts-ignore */ }
    <body sTitle={sTitle}>
        <div class="app">
            <header class="header">
                <h1 class="title">{title}</h1>
            </header>
            <main id="content" class={classItems}>
                <slot />
            </main>
            <footer class="footer" site-title={sTitle} current-year={yearStr}>
                <nav class="nav" hidden>
                    <a class="link" href="/tracker">
                        <img class="icon" src="/icons/map.svg">
                    </a>
                    <a class="link" href="/directions">
                        <img class="icon" src="/icons/location.svg">
                    </a>
                    <!-- <a class="link" href="/book">
                        <img class="icon" src="/icons/book-online.svg">
                    </a> -->
                    <!-- <a class="link" href="/notifications">
                        <img class="icon" src="/icons/notification.svg">
                    </a> -->
                    <!-- <a class="link" href="/more">
                        <img class="icon" src="/icons/more-horiz.svg">
                    </a> -->
                    <a class="link" href="/settings">
                        <img class="icon" src="/icons/settings.svg">
                    </a>
                </nav>
            </footer>
        </div>
        <dialog class="modal">
            <content>
                <h1 class="modal-title title"></h1>
                <section class="message"></section>
                <div class="modal-actions">
                    <button class="btn primary">OK</button>
                </div>
            </content>
        </dialog>
        <ModalScript />
        <SelectScript />
    </body>
</html>